<ng-container *ngIf="todos$ | async as todos">
  <ul class="container">
    <li class="flex flex-between pad5" *ngFor="let todo of todos">
      <div
        class="text-{{ todo.completed ? 'success' : 'fail' }} flex flex-center"
      >
        <div>{{ todo.title }}</div>
      </div>
      <div class="flex flex-between">
        <button
          class="btn btn-warning mar-right-5 mar-left-10"
          type="button"
          (click)="modify(todo)"
        >
          Edit
        </button>
        <button class="btn btn-fail" type="button" (click)="delete(todo.id)">
          X
        </button>
      </div>
    </li>
    <li class="flex flex-center flex-column">
      <form class="w100" [formGroup]="formGroup">
        <input
          class="w100 input mar-y-5"
          type="text"
          placeholder="Add New Task"
          formControlName="addTodoControl"
        />
        <button
          class="btn btn-fail w100 btn-large"
          type="button"
          [disabled]="formGroup.invalid"
          (click)="addTodo()"
        >
          Add Task
        </button>
      </form>
    </li>
  </ul>
</ng-container>
