// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RxJs-Examples-primary: mat.define-palette(mat.$indigo-palette);
$RxJs-Examples-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RxJs-Examples-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RxJs-Examples-theme: mat.define-light-theme(
  (
    color: (
      primary: $RxJs-Examples-primary,
      accent: $RxJs-Examples-accent,
      warn: $RxJs-Examples-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($RxJs-Examples-theme);

$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$gray: #6c757d;
$blue: #007bff;
$dark: #343a40;
$light: #f8f9fa;

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding-inline-start: 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad15 {
  padding: 15px;
}

.pad20 {
  padding: 20px;
}

.pad-right-5 {
  padding-right: 5px;
}

.pad-left-5 {
  padding-left: 5px;
}

.mar-right-5 {
  margin-right: 5px;
}

.mar-right-10 {
  margin-right: 10px;
}

.mar-left-5 {
  margin-left: 5px;
}

.mar-left-10 {
  margin-left: 10px;
}

.mar-top-5 {
  margin-top: 5px;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-bott-5 {
  margin-bottom: 5px;
}

.mar-bott-10 {
  margin-bottom: 10px;
}

.mar-y-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mar-x-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.pad-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-x-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.text-success {
  color: $green;
}

.text-fail {
  color: $red;
}

.input {
  @extend .pad-y-10;
  @extend .pad-x-10;
  border-radius: 3px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid $green;
  outline: $blue solid 1px !important;
  color: $blue;
  &::placeholder {
    color: $gray;
  }
}

.btn {
  padding: 5px 20px;
  cursor: pointer;
  border: 2.5px solid transparent;
  border-radius: 2px;
  color: $light;
  &:hover {
    filter: saturate(10%);
  }
}

.btn-large {
  @extend .btn;
  padding: 15px;
}

.btn-success {
  @extend .btn;
  background-color: $green;
  border-color: $green;
}

.btn-warning {
  @extend .btn;
  background-color: $yellow;
  border-color: $yellow;
}

.btn-fail {
  @extend .btn;
  background-color: $red;
  border-color: $red;
}

app-todo {
  display: block;
  min-width: 30%;
  max-width: 800px;
}

.container {
  border: 1px solid $dark;
  border-radius: 4px;
  padding: 15px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}
